.messages-output {
  height: 80vh;
  border: 1px solid lightgray;
  overflow-y: scroll;
  margin-bottom: 15px;
}
.message-inner {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  min-width: 200px;
  max-width: 90%;
  text-align: left;
  min-height: 80px;
  font: 400 1em, sans-serif;
  display: inline-block;
  border-radius: 10px;
  background-color: #d1e7dd;
  /* border: 3px solid green; */
  /* padding-bottom: 50px; */
}

.incoming-message .message-inner {
  background-color: #ffdab9;
}
.incoming-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.message-timestamp-left {
  font-size: 0.85em;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0px;
}
.message-sender {
  margin-bottom: 5px;
  font-weight: bold;
}
.messages-date-indicator {
  width: 150px;
  height: 30px;
  margin-top: 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-info {
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 0;
  background-color: orange;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.conversation-profile-picture {
  width: 30px;
  height: 30px;
  object-fit: cover;
  /* margin: 10px auto; */

  border-radius: 50%;
  margin-left: 10px;
}
