.member-status-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.member-status {
  margin-bottom: 0;
  position: relative;
}

.sidebar-online-status {
  color: green;
}
.sidebar-offline-status {
  color: #e3b505;
  /* color: green; */
}
.sidebar-offline-status,
.sidebar-online-status {
  font-size: 11px;
  position: absolute;
  z-index: 99px;
  bottom: 0;
  left: 12px;
}
.sideBarCol {
  /* background-color: blue; */
  height: 88vh;
  overflow-y: scroll;
}
